body{margin:0px;padding:0px;border:0px;cursor: default;z-index:0;font: normal 14px  "Trebuchet MS", Georgia, "Times New Roman";}
form{padding:0px;margin:0px;}
img{border:0px;}
*:focus { outline: none } 
.input,.searchBox, textarea,select{
	background:#F9F9F9;
	border:1px solid #DDDDDD;
	color:#66717C;
	font: normal 12px  "Trebuchet MS", Georgia, "Times New Roman";
	padding:0px;
	margin:0px;
}
fieldset{
	border:1px solid #5A5A5A;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font: normal 12px  "Trebuchet MS", Georgia, "Times New Roman";
}
p{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
legend{}
.colorpickrArrow{
	background:#4b9669  url(../images/colorPicker_arrow.gif) no-repeat right bottom;  
	border:2px solid #999999;
}
.searchBox{
	background:#fff  url(../images/ico.search.gif) no-repeat left;  
	vertical-align:middle;
	padding:0px 0px 0px 22px;
}
.notes{
	font:normal 12px  "Trebuchet MS", Georgia, "Times New Roman";
	margin: 0px;
	padding:10px;
	overflow:auto;
	display: block;
	border:1px solid silver;
	/*
	position:relative;
	display:inline;
	*/
}

.htmltext{}
.htmltext ul{ margin-top:0px;}


.pagination , .selected{ font: bold 12px  "Trebuchet MS", Georgia, "Times New Roman";}
.pagination a{  color:#000; padding:0px 0px 0px 0px; margin:0px 3px 0px 3px;}
.pagination a:hover{  color:#CF0C0C;}
.selected{ color:#CF0C0C;}

.tag1, .tag2, .tag3, .tag4, .tag5{
	font: normal 10px  verdana, arial, helvetica;
	color:#000;
	text-decoration:none;
	padding: 0px 2px 0px 2px;
 }
.tagcloud{	overflow:hidden; }
.tag2{font-size: 12px;}
.tag3{font-size: 17px;}
.tag4{font-size: 30px;}
.tag5, .tag6{font-size: 40px;}
.verticalSplitter{ margin:0px; padding:0px; border-left:1px solid #999999; border-right:1px solid #999999; }
.verticalSplitter img{vertical-align:middle;cursor:w-resize;}

.horizontalSplitter{margin:0px; padding:0px; border-top:1px solid #999999; border-bottom:1px solid #999999; text-align:center;}
.horizontalSplitter img{cursor:n-resize; margin:0px auto; padding:0px; display:block;  }
.datagrid{	padding:0px;	margin:0px;	background:#000;	border:0px;}
.datagrid tr{margin:0px; padding:0px; }
.datagrid tr td{ margin:0px; padding:0px;}

.panel{
	padding:0px 2px 2px 2px;
	margin:0px 0px 0px 0px;
	background:#e1effa;
}

.panel h4{
	margin:0px; padding:0px;
	text-align:center;
	height:23px;line-height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
 }

.panel div.innerDiv{
	padding:0px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	border:1px solid #7a7e80;
	margin: auto auto;
	background:#fff;
}



.window{
	padding:0px 2px 2px 2px;
	margin:0px 0px 0px 0px;
	background:#e1effa;
	float:left;
}

.window div.titleWrap{
	margin:0px; padding:0px;
	text-align:center;
	height:23px;line-height:23px;
	display:inline;
 }
.window div.titleWrap div.title{
	
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 5px;
 	text-align:center;
	height:23px;line-height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	float:left;
	background:#e1effa;
	border:0px solid red;

 }
 .window div.titleWrap div.icons{
	 border:0px solid red;
	 width:85px; height:23px;
	 float:right;
	 background:#e1effa;
	 margin:0px; padding:0px;
 }
 .window div.titleWrap div.icons a{
	 background:url(../images/browserIcon.gif) no-repeat left;
	 width:21px; height:15px;
	 float:left;
 }
 .window div.titleWrap div.icons a:hover{
	 background:url(../images/browserIcon_hOver.gif)  ;
	 width:21px; height:15px;
	 float:left;
 }

 .window div.titleWrap div.icons a#max{
	 width:21px;
	 background-position:-21px;
 }
 .window div.titleWrap div.icons a#max:hover{
	 width:21px;
	 background-position:-21px;
 }
 
 .window div.titleWrap div.icons a#close{
	 width:37px;
	 background-position:-42px;
 }
 .window div.titleWrap div.icons a#close:hover{
	 width:37px;
	 background-position:-42px;
 }
 
 
.window div.innerDiv{
	padding:0px 4px 10px 4px;
	margin:0px auto 0px auto;
	border:1px solid #7a7e80;
	background:#fff;

	float:left;
}

.buttonBar{
}

.buttonBar input{
	background:#F9F9F9;
	border:1px solid #f3f4f5;
	float:left;
	margin:0px 0px 0px 2px;
 
}
.buttonBar input:hover{
	background:#e6e7e8;
}
.buttonBar input.selected{
	background:#e8f5fd;
	border:1px solid #f3f4f5;
	float:left;
}


.menuBar{
	background:#e8f5fd;
}
.menuBar ul{
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	list-style:none;
}
.menuBar ul li{
	display:inline;
	padding:0px 10px 0px 10px;
	border-right:0px solid #7CBCD5;
	margin: 0;
}
.menuBar ul li a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#000;
}
.menuBar ul li a:hover{
  color:#CC6600;
}

.tabBarVertical{
	border:0px solid red;
}
.tabBarVertical input{
	background:#F9F9F9;
	border:1px solid #f3f4f5;
	float:left;
	margin:0px 0px 2px 0px;
 
}
.tabBarVertical input:hover{
	background:#e6e7e8;
}
.tabBarVertical input.selected{
	background:#e8f5fd;
	border:1px solid #f3f4f5;
	float:left;
}


.tabBar{
	border:0px solid red;
	font-family:Arial, Helvetica, sans-serif;
}
.tabBar ul{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	list-style:none;
}
.tabBar ul li{
	float: left;
	border: 1px solid #bbb;
	border-bottom-width:0;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 2px;
 
}
.tabBar ul li a{
	text-decoration: none;
	display:block;
	background: #eee;
	color: #00c;
	text-align: center;
	margin:0px; padding:0px;
	white-space:nowrap;
}
.tabBar ul li a:hover{
  background: #e6e7e8;

}
.tabBar ul li a.selected{
	background:#fff;
	border:1px solid #f3f4f5;
	border-bottom:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.breadCrumbs{
	border:0px solid red;
	font: normal 14px  "Trebuchet MS", Georgia, "Times New Roman";
}
.breadCrumbs a{	text-decoration:none; color:#0033FF; }
.breadCrumbs a:hover{ color:#000; text-decoration:underline;}
.breadCrumbs  .selected{ font: bold 14px  "Trebuchet MS", Georgia, "Times New Roman"; color:#000;}

.linkBar{
	border:0px solid red;
	font: normal 14px  "Trebuchet MS", Georgia, "Times New Roman";
}
.linkBar a{	text-decoration:none; color:#0033FF; }
.linkBar a:hover{ color:#000; text-decoration:underline;}
.linkBar  .selected{ font: bold 14px  "Trebuchet MS", Georgia, "Times New Roman"; color:#000;}

.menu{
	border:1px solid #dddedf;
	background:#f3f3f3;
	font:bold 13px  "Trebuchet MS", Georgia, "Times New Roman";
}
.menuLine{
	display:block;
	float:left;
	width:100%;
	height:24px;
	line-height:24px;
}
.menu span.menuLeft{
	float:left;
	padding:0px 0px 0px 5px;
	margin:0px 0px 0px 0px;
}
.menu span.menuRight{
	float:right;
	padding:0px 5px 0px 0px;
	margin:0px 0px 0px 0px;
}
.menu div.hr{
	height:5px;
	width:100%;
	border-bottom:2px solid #dddedf;
	display:block;
	float:left;
	padding:5px 0px 0px 0px;
	margin:0px 0px 5px 0px;
}
/*Iphone*/
.IphoneApplicationTitleBar{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:18px;
	color:#fff;
	text-align:center;

}
.IphoneBarButton{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	color:#fff;
	text-align:center;
}
.IphoneNavigationButton{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:14px;
	color:#fff;
	text-align:center;
}
.IphoneTextDiv{
	background:url(../images/IphoneText_left.png) no-repeat left top;
	height:31px;
	margin:0px; padding:0px;
	border:0px;
	

}
.IphoneText{
	background:url(../images/IphoneText_right.png) no-repeat right top;
	height:31px; line-height:31px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 14px;
	border:0px;
	vertical-align:middle;
}
.IphoneKeyboardKey{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:18px;
	color:#fff;
	text-align:center;
}
.tree, .tree_black{
	font: normal 12px  "Trebuchet MS", Georgia, "Times New Roman" ; 
	color:#000;
}

.tree_black{color:#fff;}

.tree ol, .tree_black ol{	margin-top:0px;}
.tree ol li, .tree_black ol li{ 
	padding:0px 0px 0px 0px;
	margin:7px 0px 0px 0px;
}
.tree ol li img, .tree_black ol li img {cursor:pointer;} 



#sitemap{
	border:1px solid #6e7c64;
	padding:0px 0px 0px 0px;
	margin:2px 2px 0px 2px;
 
}
#sitemapHeading{
	background:#6e7c64;
	color:#fff;
	font: bold 16px  "Trebuchet MS", Georgia, "Times New Roman";
	height:30px;
	line-height:30px;
	padding:0px 0px 0px 10px;
	margin:0px 0px 0px 0px;
 
}

#sitemap ul{
	padding:0px 0px 0px 10px;

 
}

#sitemap ul li{
	list-style:none;
	margin:5px 0px 0px 0px;
	border:0px solid red;
	width:200px;
}

#sitemap ul li a{
	font: normal 13px  "Trebuchet MS", Georgia, "Times New Roman";
	text-decoration:none;
	color:#6e7c64;

}
#sitemap ul li a:hover{
	text-decoration:underline;
	color:#000;
}
#sitemap ul li a.selected{
	font-weight:bold;
	color:#FF0000;
}

.shadow {
	overflow:hidden;
	position:absolute;
	filter:alpha(Opacity=10); /*modify to change the shade solidity/opacity, same as below*/
	opacity:0.1; /*firefox 1.5 opacity*/
	-moz-opacity:0.1; /*mozilla opacity*/
	-khtml-opacity:0.1; /*opacity*/
	z-index:-10;
}
.LinkBarVertical{
	border:0px solid red;
	font: normal 12px  "Trebuchet MS", Georgia, "Times New Roman";
}
.LinkBarVertical ul{
	margin:0px; padding:0px;
	list-style:none;
}
.LinkBarVertical ul li{
	text-align:left;
	margin-left:5px;
}

.LinkBarVertical ul li a{
 text-decoration:none;
 color:#000;
}
.LinkBarVertical ul li a.selected{
	text-decoration:none;
	color:#CF0C0C;
}


