User-Agent: *

# Don't index versionned documentation.
Disallow: /api-oasis-dev
Disallow: /MANUAL-dev.html

Disallow: /api-oasis-${oasis.latest.version}
Disallow: /MANUAL-${oasis.latest.version}.html

% for version in oasis_doc.others:
Disallow: /api-oasis-${version}
Disallow: /MANUAL-${version}.html
% endfor
