/* General settings */

body {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 0px;
  background: #de9453;
  border-left:   solid 2px #925a41;
  border-right:  solid 2px #925a41;
  border-bottom: solid 2px #925a41;
}

h1 { color: #555; font-size: x-large;}
h2 { color: #555; font-size; large;}
h3 { color: #555; font-size; medium;}

#content h1 a { color: #555; font-size: x-large;}
#content h2 a { color: #555; font-size; large;}
#content h3 a { color: #555; font-size; medium;}

/* Header */

h1.title {
  display: none;
}

#header_page {
  height: 150px;
  background: url(banner.jpg);
}

#header_page .logo {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#header_page h1.logo a {
  text-decoration: none;
}

#header_page h1.logo img {
  border: none;
}

#header_page .subtitle {
  color: #FFFFFF;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 94px;
}

/* Menu */
#menu {
  text-align: center;
  padding: 10px;
  background: url(menu.png) repeat-x;
  border-top: solid 2px #e0dfdf;
  border-bottom: solid 2px #e0dfdf;
}

#menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: black;
  margin: 0;
  padding: 0;
}

#menu a:hover {
  color: green;
  border-bottom:1px dotted green;
}

#menu li {
  display: inline;
  margin: 0;
  padding: 3em;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Content */

#content {
  position: relative;
  padding: 2em;
  padding-top: 0.5em;
  background: #ffe8bf;
}

#content hr {
  color: grey;
  width: 90%;
}

#content a {
  color: #67a76d;
  text-decoration: none;
  font-weight: bold;
}

#content a:hover {
  color: green;
}

#content code {
  font-family: monospace;
  color: #1e6694;
}

#content pre {
  border-left-style: double;
  border-left-color: #1e6694;
  padding-left: 1em;
}

#download-latest {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#download-latest a {
  font-weight: bold;
  font-size: x-large;
  padding-left: 24px;
  background: url(download.png) no-repeat;
}

/* Footer */

#footer {
  clear: both;
  position: relative;
  color: black;
  font-size: 13px;
  padding: 5px;
  height: 13px;
  background: url(footer.png) repeat-x;
  border-top: solid 2px #e0dfdf;
}

#footer div {
  margin-left: 10px;
}

#footer .copyright {
  float: left;
  margin-left: 0px;
}

#footer .links {
  float: right;
}

#footer .badge {
  text-align: center;
}

#forkme {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#g-page-container {
  width: 100%;
  position: relative;
  height: 85px;
}

#g-page-container > div {
  position: absolute;
  right: 0;
}
