/* General settings */

body
{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-top: 0px;
  background: #de9453;
  border-left:   solid 2px #925a41;
  border-right:  solid 2px #925a41;
  border-bottom: solid 2px #925a41;
}

h1 { color: #555; font-size: x-large;}
h2 { color: #555; font-size; large;}
h3 { color: #555; font-size; medium;}

#content h1 a { color: #555; font-size: x-large;}
#content h2 a { color: #555; font-size; large;}
#content h3 a { color: #555; font-size; medium;}

/* Header */
#header
{
  clear: both;
  position: relative;
  height: 217px;
  background: url(banner.jpg);
}

#header .logo
{
  position: relative;
  float: left;
  padding-top: 8px;
  padding-left: 20px;
}

#header h1.logo a 
{
  text-decoration: none;
}

#header h1.logo img
{
  border: none;
}

#header .subtitle
{
  color:#FFFFFF;
  float:left;
  font-size:16pt;
  font-weight:bold;
  margin-top:120px;
}

/* Menu */
#menu
{
  text-align: center;
  padding: 10px;
  background: url(menu.png) repeat-x;
  border-top: solid 2px #e0dfdf;
  border-bottom: solid 2px #e0dfdf;
}

#menu a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  color: black;
  margin: 0;
  padding: 0;
}

#menu a:hover
{
  color: green;
  border-bottom:1px dotted green;
}

#menu li
{
  display: inline;
  margin: 0;
  padding: 3em;
}

#menu ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Content */

#content
{
  padding: 2em;
  padding-top: 0.5em;
  background: #ffe8bf;
}

#content hr
{
  color: grey;
  width: 90%;
}

#content a
{
  color: #67a76d;
  text-decoration: none;
  font-weight: bold;
}

#content a:hover
{
  color: green;
}

#content code
{
  font-family: monospace;
  color: #1e6694;
}

#content pre
{
  border-left-style: double;
  border-left-color: #1e6694;
  padding-left: 1em;
}

#download-latest 
{
  text-align: center;
}

#download-latest a 
{
  font-weight: bold;
  font-size: x-large;
  padding-left: 24px;
  background: url(download.png) no-repeat;
}

#news .subtitle
{
  font-style: italic;
  font-size: 80%;
}

/* Footer */

#footer {
  clear: both;
  position: relative;
  color: black;
  font-size: 70%;
  padding: 5px;
  background: url(footer.png) repeat-x;
  border-top: solid 2px #e0dfdf;
}

#footer .copyright {
  position: relative;
  width: 33%;
}

#footer .lastmodified {
  position: relative;
  float: right;
  width: 33%;
  text-align: right;
}

#footer .badge {
  position: relative;
  float: right;
  width: 33%;
  text-align: center;
}


