
OASIS is a tool to integrate a configure, build and install system in your OCaml
project. It helps to create standard entry points in your build system and
allows external tools to analyse your project easily.

OASIS first target is [OCamlbuild](http://brion.inria.fr/gallium/index.php/Ocamlbuild)
but other build system support is planned.

Features:

* OCamlbuild support, [more info](MANUAL.html#plugin-ocamlbuild-build-doc)
* Standard files auto-generation, [more info](MANUAL.html#plugin-devfiles-extra)
* Automatic findlib's META file generation, [more info](MANUAL.html#plugin-meta-extra)
* README/INSTALL file generation, [more info](MANUAL.html#plugin-stdfiles-extra)

Planned features:

* [OCaml autoconf](http://ocaml-autoconf.forge.ocamlcore.org)
* [OMake](http://omake.metaprl.org)
* [OCamlMakefile](OCamlMakefile)

OASIS takes most of his ideas from [Cabal](http://www.haskell.org/cabal) which
is the same kind of tool for [Haskell](http://www.haskell.org)


<div id="download-latest">
  <a href="${data['oasis']['latest']['url']}">
    Download version ${data['oasis']['latest']['version']}
  </a>
</div>

Sub-projects
============

While the core of OASIS is a standalone product, several other projects take
advantages of OASIS metadata:

* [OASIS-DB](oasis-db.html): a CPAN for OCaml
* [oasis2debian](oasis2debian.html): convert an OASIS enabled project into a
  Debian package
* [oasis2opam](oasis2opam.html): convert an OASIS enabled project into an OPAM
  package
* [GODI](godi.html): a package manager that imports OASIS-DB packages
