The OASIS project
=================

OASIS is a tool to integrate a configure, build and install system in your OCaml
project. It helps to create standard entry points in your build system and
allows external tools to analyse your project easily.

OASIS first target is [OCamlbuild](https://ocaml.org/learn/tutorials/ocamlbuild/)
but other build system support is planned.

Features:

* OCamlbuild support, [more info](MANUAL.html#plugin-ocamlbuild-build-doc)
* Standard files auto-generation, [more info](MANUAL.html#plugin-devfiles-extra)
* Automatic findlib's META file generation, [more info](MANUAL.html#plugin-meta-extra)
* README/INSTALL file generation, [more info](MANUAL.html#plugin-stdfiles-extra)

OASIS takes most of his ideas from [Cabal](http://www.haskell.org/cabal/) which
is the same kind of tool for [Haskell](http://www.haskell.org)

<div id="download-latest">
  <a href="${oasis.latest.url}">
    Download version ${oasis.latest.version}
  </a>
</div>

Sub-projects
============

While the core of OASIS is a standalone product, several other projects take
advantages of OASIS metadata:

* [oasis2debian](oasis2debian.html): convert an OASIS enabled project into a
  Debian package
* [oasis2opam](oasis2opam.html): convert an OASIS enabled project into an OPAM
  package

<!-- Place this tag where you want the widget to render. -->
<div id="g-page-container">
  <div class="g-page"
       data-href="//plus.google.com/105318132004091872602"
       data-layout="landscape"
       data-showtagline="false"
       data-showcoverphoto="false"
       data-rel="publisher"></div>
</div>

<!-- Place this tag after the last widget tag. -->
<script id="g-page-script" type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementById('g-page-script'); s.parentNode.insertBefore(po, s);
  })();
</script>
